@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .header {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 25px;
  }
  body {
    font-family: Helvetica;
  }
  .horror {
    position: -webkit-sticky !important;
    position: sticky !important;
    bottom: 0px !important;
  }
}
