@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .header {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 25px;
  }
  body {
    font-family: Helvetica;
  }
  .horror {
    position: -webkit-sticky !important;
    position: sticky !important;
    bottom: 0px !important;
  }
  .cate li {
    color: #222222c7 !important;
    margin-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  .cate li:hover {
    color: orangered !important;
    cursor: pointer !important;
  }
}
