.form {
  width: 280px !important;
  border-radius: 20px !important;
}
.search-icon {
  position: absolute;
  top: 10px;
  left: 90px;
}
.brand {
  font-size: 20px;
  font-weight: 600;
}
.menu {
  background-color: rgba(236, 238, 241, 0.882);
  padding: 5px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.offcanvas {
  width: 200px !important;
}
